
<footer class="footer mt-auto py-4 bg-white border-top">
    <div class="container text-end">
        <span class="text-muted fw-bold">
            כל הזכויות שמורות למערכת הניהול © 2026
        </span>
    </div>
</footer>